@tailwind base;
@tailwind components;
@tailwind utilities;

/**
Poppins font
**/

/* 100 */
@font-face {
  font-family: "Poppins";
  src: url("../../public/font/Poppins-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

/* 200 */
@font-face {
  font-family: "Poppins";
  src: url("../../public/font/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

/* 300 */
@font-face {
  font-family: "Poppins";
  src: url("../../public/font/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

/* 400 */
@font-face {
  font-family: "Poppins";
  src: url("../../public/font/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 500 */
@font-face {
  font-family: "Poppins";
  src: url("../../public/font/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

/* 600 */
@font-face {
  font-family: "Poppins";
  src: url("../../public/font/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

/* 700 */
@font-face {
  font-family: "Poppins";
  src: url("../../public/font/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 800 */
@font-face {
  font-family: "Poppins";
  src: url("../../public/font/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

/* 900 */
@font-face {
  font-family: "Poppins";
  src: url("../../public/font/Poppins-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

/**
  Swiss721 Ex BT font
  **/

/* 300px */
@font-face {
  font-family: Swiss721BoldExtendedBT;
  src: url("../../public/font/Swiss-721-Light-Extended-Regular.otf");
  font-weight: 300;
  font-style: normal;
}

/* 400px */
@font-face {
  font-family: Swiss721BoldExtendedBT;
  src: url("../../public/font/Swiss-721-Extended-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

/* 700px */
@font-face {
  font-family: Swiss721BoldExtendedBT;
  src: url("../../public/font/Swiss-721-Extended-Bold.otf");
  font-weight: 700;
  font-style: normal;
}


[data-active="true"] {
  @apply text-primary-1 border-b border-primary-1 font-semibold
}

[data-active="false"] {
  @apply text-tertiary-5  font-medium
}